.container {
    display: flex;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.2;
}

.grid div {
    height: 20px;
    width: 20px;
    /* background-color: red; */
}

.shape {
    background: blue;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.5);
    opacity: 0.2;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}